body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
-------------------------------------------------
STYLING HEADER
*/
.header {
    color: white;
	  margin: 0;
	  text-align: center;
    background-color: #f17d80;
}

/*
-------------------------------------------------
*/

input {
  width: 25%;
  margin: 3rem 0.5rem;
  padding: 0.7rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
}

.header {
  width: auto;
  margin: 1rem 0.5rem;
  padding: 0.7rem;
}

.update-btn{
  width: 25%;
  margin: .5rem 0.5rem;
  padding: 0.7rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
}


.delete  {
  width: 5%;
  height: 2.6rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
}

.remove {
  width: 15%;
  height: 2.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255); 
}